
.boxModal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 400px !important;
    border: 2px solid #000;
    padding: 4px;
}
.gridBtnUdate{
    position: relative;
    bottom: -16px;
}
.titleModal{
    position: relative;
    top: -16px;
}