@use '../abstracts/variables';

.header_white{
    a{
        color: $black1 !important;
    }
    background-color: $white !important;
    color: $black1 !important;
}

.header_black{
    a{
        color: $white !important;
    }
    background-color: $black1 !important;
    color: $white !important;
}

.navbar-nav{
    display: flex;
    justify-content: end;
    align-content: center;
    margin-right: 20px;

}

.navbar-collapse{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 70px;
    background-color: #303d5b;
    width: 100% !important;
    background-image: linear-gradient(400deg, rgba(0, 0, 0, 0.55) 50%, #5e6f3400) !important;
    background-size: cover;
    background-repeat: no-repeat;
    
    background-blend-mode: multiply;
    color: white !important;
}
.nav-item{
    margin: 10px 10px;
}

.conttainer_header{
    padding: 0px !important;
    max-width: 100% !important;
}


.col-solicitud{
    background-image: linear-gradient(86deg, black 1%, #8888885c) !important ;
    background-size: cover;
    background-repeat: no-repeat;
    
    background-blend-mode: multiply;
    color: white !important;
}
.switch_dark{
    padding: 8px !important;
}

.menu_logout{ 
    padding-right: $margin-header-right + 10px;
}

@media (max-width: 768px){
    .primer_servicio{
        height: 620px !important;
    }
    .ultimo_serv{
        height: 434px !important;
    }
    .fondo{
        height: 420px !important;
    }
    .titulo-fondo{
        bottom: 4.8rem;
        height: 32%;
    }
}
 // $brand-travel

 @media (max-width: 899px){
    .link_header{
        color: $brand-facebook !important;
    }
 }