.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.end {
    display: flex;
    justify-content: end;
    align-items: end;
}
.start {
    display: flex;
    justify-content: start;
    align-items: center;
}

